/Library
/obj
/AssetsBundle
/Temp
*.csproj
*.sln
.vs
.vsconfig
/Logs
/Log
/BridgeSource
/UserSettings
/autobuilderconfig.config
Assets/StreamingAssets
ProjectVersion.txt
PackageManagerSettings.asset
BuildCache
MemoryCaptures/
Packages/
ProjectSettings/BurstAotSettings_StandaloneWindows.json
ProjectSettings/PackageManagerSettings.asset

BuildCache_BurstDebugInformation_DoNotShip
GradleVersion.txt
